<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lja.kural.Mapper.WeakPasswordScanResultMapper">

    <insert id="addWeakPasswordScanResult">
        INSERT INTO weak_password_scan_result
        (task_id, target, port, service, username, password, additional_info)
        VALUES
        <foreach collection="list" item="item" separator=","> <!-- 假设传入List<PortScanResult> -->
            (
            #{item.taskId},
            #{item.target},
            #{item.port},
            #{item.service},
            #{item.username},
            #{item.password},
            #{item.additionalInfo}
            )
        </foreach>
    </insert>
    <select id="selectWeakPasswordScanResult" resultType="com.lja.kural.Bean.WeakPasswordScanResult">
        SELECT * FROM weak_password_scan_result WHERE task_id = #{taskId}
    </select>
</mapper>