<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lja.kural.Mapper.WeakPasswordScanTaskMapper">

    <insert id="addWeakPasswordScanTask">
        INSERT INTO weak_password_scan_task (task_id, service_types, username_file_path, password_file_path ,use_default_dict)
        VALUES (#{taskId}, #{serviceTypes}, #{usernameFilePath}, #{passwordFilePath}, #{useDefaultDict})
    </insert>
    <select id="selectWeakPasswordScanTask" resultType="com.lja.kural.Bean.WeakPasswordScanTask">
        SELECT
            b.id,
            b.task_id,
            b.task_name,
            b.task_type,
            b.target,
            b.status,
            b.create_time,
            b.update_time,
            b.creator_id,
            b.creator,
            b.description,
            b.priority,
            b.progress,
            w.service_types,
            w.username_file_path,
            w.password_file_path,
            w.use_default_dict
        FROM
            base_scan_task b
                INNER JOIN
            weak_password_scan_task w
            ON
                b.task_id = w.task_id
        WHERE
            b.task_id = #{taskId}
    </select>
</mapper>